@charset "UTF-8";

body {
	background-color: #60a2c7;
	color: #b5b3b3;
}

.jumbotron {
	background-color: #4f0000;
	color: #b5b3b3;
	text-shadow: 2px 2px #ff0000;
}

#createFilm {
	margin-bottom: 40%;
}

table {
	border: 3px white;
}