@charset "UTF-8";

body{
	background-image: url("https://us.123rf.com/450wm/bbbaaaaz/bbbaaaaz1607/bbbaaaaz160700001/61569391-modern-background-with-plexus-style-perfect-for-website-or-banner-backgrounds-or-as-a-wallpaper.jpg?ver=6");
	background-repeat: no-repeat;
	background-size: cover;
}

.container{
	background-color: gray;
	color: gray; 
}